@import "../variables";

.section {
	overflow: hidden;
	padding-top: 8.5rem;
	padding-bottom: 8.5rem;
}

.section__title {
	text-transform: uppercase;
	margin-bottom: 5rem;
	text-align: center;
}

.section__content {
	margin-top: 5rem;
}

.animated {
	opacity: 1;
}